body {
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    color: #9ab;
    background: #000000;
    margin: 0;
    padding: 0;
}

/* contenedor negro */
.container {
    margin: 0px auto 200px;
    width: 100vh;
    max-width: 1000px;
    padding: 10px;
    background: #14181c;
    background: #000000;
}

.title { 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 70px; 
    font-weight: bold; 
    color: white; 
    outline: 1px solid rgb(71, 255, 47);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Iconos de Link */
.title .link-buttons {
    display: none;
    align-items: center;
    font-size: 14px;
}

.title .link-buttons.grayscale .link-button {
    filter: grayscale(70%);
}

.title .link-buttons.grayscale .link-button:hover {
    filter: unset;
}

.title .link-buttons .link-button,
.title .link-buttons a {
    margin-left: 8px;
}

.sub-title {
    margin-top: 8px;
}

.sub-title span {
    font-size: 45px;
    margin-right: 20px;
}

.year {
    margin-left: 16px;
}

.header-buttons {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.bar {
    border-top: 1px solid rgb(153, 170, 187);
    margin: 0 0 12px;
    position: relative;
}

.years-list, .genres-list {
    margin-top: 16px;
}

.phone-home,
.phone-home:visited,
.phone-home:link,
.phone-home:active {
    font-size: 12px;
    color: #9ab;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -18px;
}

.phone-home:hover {
    color: #40bcf4;
}

.header-green {
    font-family: Georgia, Serif;
    font-size: 50px;
    text-align: center;
    color: rgb(68, 243, 135);
    font-weight: bold;
    padding: 8px 0;
}

/* ABECEDARIO */
a.button-darkgray, a.button-darkgray:visited, a.button-darkgray:link{
    color: rgb(255, 255, 255);
    background: #283038;
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    font-size: 60px;
    white-space: nowrap;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 5%);
    margin: 10px;  
}

/* ADAPTACION */
.left{
    display: flex;
    flex-wrap: wrap;
}

.right{
    display: none;
}

a.button-darkgray:hover {
    color: #def;
    background: #303840;
}

.upper {
    text-transform: uppercase;
}

.navigation-bar {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* FLECHITAS */
.navigation-bar .left {
    display: flex;
    align-items: center;
}

.navigation-bar .left .arrow {
    margin: 0 8px;
}

.link-gray a:link    {  color: #9ab; text-decoration: none; }
.link-gray a:visited {  color: #9ab; text-decoration: none; }
.link-gray a:active  {  color: #9ab; text-decoration: none; }
.link-gray a:hover   {  color: #40bcf4; text-decoration: none; }

b {
    color: #abc;
    font-weight: bold;
    margin-right: 10px;
}
/* TAGLINE */
.tagline {
    margin: 12px 0 16px;
    font-size: 30px;
    min-height: 8px;
    font-style: italic;
}

.actor-paragraph {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 8px;
}

/* FOTO ACTORES */
.actor-image {
    border-radius: 5px;
    height: 200px;
    width: 150px;
}

/* OJO */
.shiny-container {
    position: relative;
    display: inline-block;
}
.actor-image-container {
    color: red;
    flex: 0 0 90px;
    display: inline-block;
}

/* SOMBRITA */
.shiny-frame {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px rgb(221 238 255 / 35%);
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.5) 50%,hsla(0,0%,100%,0));
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 100% 1px;
    border-radius: 4px;
}

.shiny-frame.large {
    border-radius: 6px;
}
/* ACTOR NAMO */
.actor-name {
    font-size: 2.5rem;
    margin-left: 20px;
    flex: 0 0 calc(50% - 90px);
}

.character-name {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}
/* Adapte diplay NONE */
.footer {
    display: none;
    margin-top: 80px;
    border-top: 2px solid #101010;
    padding: 20px;
    text-align: center;
    font-size: 12px; 
    margin-left: -12px;
    width: calc(100% + 24px);
}


.movie-container .left {
}

.movie-container .right {
    margin-left: 5px;
}
/* POSTER DE PELICULA */
.poster { 
    width: 450px;
    border-radius: 6px;
}

.stars-row {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.stars-row .description {
    width: 150px;
}

.stars-row .stars {
    width: 200px;
    display: inline-flex;
    justify-content: center;
}

.stars-row .stars img {
    width: 20px;
    margin: 4px 0 0 -2px;
}

.stars-row .votes {
    //margin-left: 8px;
}

/* Parte de Actor */
.movie-container {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

/* BATEITO */
ul.movie-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

ul.movie-list > li {
    margin-bottom: 3px;
}

ul.movie-list > li.thumbnail {
    display: inline-block;
    width: 470px;
    max-width: 650px;
    /* overflow: hidden; */
    text-align: center;
    margin: 15px 0;
    vertical-align: top;
}

.thumbnail .shiny-container {
    display: inline-block;
}
/* IMAGENES */
.thumbnail .shiny-container img {
    width: 470px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px white;
}
/* Titulos */
ul.movie-list > li.thumbnail .thumbnail-text {
    font-size: 2.5rem;
    margin: 20px 0 8px;
    color: white;
}

.player {
    width: 100%;
    margin: 16px 0;
    border-radius: 4px;
}

.tag {
    margin-right: 8px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.05);
    display: inline-block;
    line-height: 1.5;
    padding: 2px 8px;
    color: #EEF1F5;
    background: #687D9D;
}

.tomatoes-score {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block: -6px; 
}

.tomatoes-score .percentage {
    font-size: 18px;
    font-weight: bold;
    margin-inline-start: -4px;
}


