*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red dotted; */
}

/* BODY */
body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: 380px;
    max-height: 770px;
    background-image: url(Back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


/* TITLE */
.title{
    background-color: black;
    color: gold;
    padding: 10px 0px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px 0px white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

/* TITLE */
.oficios{

    list-style: none;
    width: 90%;
    max-width: 395px;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

.menu li:hover ul{
    display: block;
}


ul , li {
    list-style: none;
}

.btn{
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 15px 40px;
    margin: 5px 0px 20px;
    text-decoration: none;
    border-radius: 30px;
}
.btn-ico{

    

}

/* Info */
.info{
    font-family: "Julee", cursive;
    font-weight: 200;
    font-style: normal;
    
    
    background-color: black;
    color: rgb(255, 204, 0);

    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px black;
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 10px;
}
.info > p {
    line-height: 1.7rem;
    font-size: 1.5rem;
}
/* NAV */
.what-img{
    z-index: 999;
    position: fixed;
    width: 50px;
    left: 5px;
    top: 60px;
    padding: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px white;
    animation: efecto 1s infinite;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 #38f858;
        background-color: black;
        border-radius: 15px;
    }
    50%{
        box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.361);
        background-color: rgb(26, 43, 27);
        border-radius: 5px;
    }
    100%{
        box-shadow: 0 0 0 0 #38f858;
        background-color: black;
        border-radius: 15px;
    }
}



